<!DOCTYPE html>
<html>
    <head>
        {% include 'header.html' %}
        <title>Shoe Finder</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Shoe Finder!</h1>

            <h4><a href="/stores">Add or view all stores in our database!</a></h4>
            <h4><a href="/brands">Add or view all brands in our database!</a></h4>
        </div>
    </body>
</html>
